div .row-form,
select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    box-sizing: border-box;
  }
   

 
  .main-users form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width:fit-content;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    align-items: center;
    
    box-shadow: rgba(91, 110, 129, 0.2) 0px 8px 24px;
  }

  .main-users{
    height: 100vh;
    width: 100%;
    
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
