:root {
  --uninorte-red: #c51618;

  --sm: 12px;
  --md: 16px;
  --lg: 20px;
}
* {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-link {
  color: var(--uninorte-red);
  text-decoration: underline;
}
.nav-center {
  justify-content: center;
}
.nav-center li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-center li img {
  width: 24px;
}

.nav-logo {
  width: 250px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav ul li {
  margin: 0 10px;
}

.nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav ul a:hover {
  transition: 0.5s;
  color: var(--uninorte-red);
  border-bottom: 1px solid;
}
.home {
}

.home-container {
  display: flex;
  padding: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

input[type="text"],
input[type="username"],
input[type="id_code"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 20px;
  border: 2px solid #ececec;
  border-radius: 10px;
  width: 80%;
.home-container__img {
  width: 30%;
}

.home-container__img img {
  width: 100%;
}

.contribute {
  padding: 50px;
  width: 90%;
  background-color: var(--uninorte-red);
  margin: 0 auto;
  color: white;
  margin-bottom: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contribute h2 {
  font-size: 32px;
}

.contribute-button {
  padding: 30px;
  border: 1px solid;
  display: inline-block;
  position: relative;
  width: 300px;
  margin-right: 10px;
}

.contribute-button button {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  border: none;
  color: var(--uninorte-red);
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
}
.contribute-button a {
  text-decoration: none;
  color: var(--uninorte-red);
}
.start-button {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contribute-button svg {
  z-index: 2;
  width: 40px;
  height: 40px;
  top: 10px;
  position: absolute;
}

.home-container__info {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
h1 span {
  color: var(--uninorte-red);
}

.home--image {
  margin: 0;
  align-self: center;
}
.home--image img {
  width: 400px;
}
.home-container button {
  color: white;
  background-color: var(--uninorte-red);
  border: 0;
  font-weight: bold;
  font-size: 16px;
  width: 150px;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

.features {
  width: 100%;
}

.features h2 {
  font-size: 28px;
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  color: white;
  background-color: var(--uninorte-red);
  width: 70%;
  box-shadow: rgba(91, 110, 129, 0.2) 0px 8px 24px;
}

.features-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  padding: 20px;
}

.feature {
  width: 350px;
  height: 350px;
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(91, 110, 129, 0.2) 0px 8px 24px;
}
.feature img {
  border-radius: 100%;
  width: 75px;
}
.feature p {
  color: lightgray;
  font-weight: bold;
  line-height: 30px;
}

.home--title p {
  font-size: 24px;
  color: lightgray;
}
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 20px;
  border: 2px solid #ececec;
  border-radius: 10px;
  width: 80%;
}

input:focus {
  outline: none;
}

.home-logo {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 3;
}
.home-logo img {
  width: 100%;
  height: 100px;
}
.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
}

.home-image {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}
a .button {
  width: 100%;
}
.button {
  /* Change to 80% if button is not wrapped in Link router elemnt */
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  font-size: var(--md);
  font-weight: 500;
  cursor: pointer;
}

.main-title {
  text-align: center;
}

.home-buttons {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-self: end;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.primary-button {
  background-color: var(--uninorte-red);
  border: none;
  color: white;
}

.secondary-button {
  background-color: white;
  color: var(--uninorte-red);
  border: 2px solid var(--uninorte-red);
}
.courses-title,
.courses-subtitle {
  text-align: center;
}
.courses-title span {
  color: var(--uninorte-red);
}
.courses-container {
  display: grid;
  padding: 0 200px;
  width: 100%;
  place-items: center;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 20px;
}

.course-card {
  cursor: pointer;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #ececec; */
  box-shadow: rgba(91, 110, 129, 0.1) 0px 8px 24px;

  border-radius: 10px;
}

.w-100 {
  width: 100%;
}
.course-data {
  text-align: center;
  font-size: var(--md);
}

.course-title {
  font-size: var(--lg);
}

.course-teacher {
  color: #dedede;
  font-weight: 700;
}
.course-length {
  color: #cecece;
}
.course-card:hover {
  transition: 0.3s;
  border-color: var(--uninorte-red);
  background-color: rgba(197, 22, 24, 0.05);
}

.course-card:hover .course-title {
  color: var(--uninorte-red);
}

.course-image {
  width: 75px;
  height: 75px;
}

.class-data {
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.class-codes {
  /* border: 1px solid; */
  width: 70%;
  display: grid;
  padding: 20px;
  grid-template-columns: 2fr 1fr 1fr;
  margin-bottom: 50px;
  gap: 20px;
}
.generate-button {
  grid-column-start: 1;
  align-self: center;
}

.student-attendance {
  width: 90%;
}
.codes-teacher img,
.code-class img {
  width: 180px;
  background-color: red;
}
.codes-teacher,
.code-class {
  width: 300px;
  height: 250px;
  /* background-color: #f7f7f7; */
  box-shadow: rgba(91, 110, 129, 0.2) 0px 8px 24px;
  display: grid;
  place-items: center;
}

.codes-teacher p,
.code-class p {
  color: #c7c7c7;
  font-weight: bold;
  font-size: 18px;
}

.class-data p {
  font-size: 16px;
  font-weight: bold;
  color: #c7c7c7;
}

.class-data p:nth-child(1) {
  color: black;
  font-size: 20px;
}

.class-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.class-search {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.class-search p {
  color: #aeaeae;
  font-weight: bold;
}
.class-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 10px;
  padding: 50px;
}

.student-card {
  width: 70%;
  margin: 10px 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  /* border: 2px solid #ececec; */
  box-shadow: rgba(91, 110, 129, 0.1) 0px 8px 24px;

  border-radius: 10px;
}

.student-picture {
  width: 56px;
  object-fit: contain;
  border-radius: 100%;
}

.student-name {
  font-weight: 600;
  font-size: 18px;
}

.student-code,
.student-logtime {
  color: #cecece;
  font-weight: bold;
}
.delete-attendance {
  width: 30px;
  height: 30px;
  background-color: var(--uninorte-red);
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* height: 100px; */
}

.form-block label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-left: 20%;
  color: #a9a9a9;
  font-weight: bold;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  /* border: 1px solid #ececec; */
  box-shadow: rgba(91, 110, 129, 0.2) 0px 8px 24px;
}

.login-form img {
  width: 300px;
}

@media screen and (max-width: 960px) {
  .courses-container {
    grid-template-columns: repeat(auto-fill, 100%);
    padding: 20px;
  }

  .login-form {
    width: 70%;
  }
}
